<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <preference for="Magento\Framework\App\FrontController" type="Hummingbird\Mod4\Test\App\FrontController" /> -->
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="routerdash" xsi:type="array">
                    <item name="class"  xsi:type="string">Hummingbird\Mod4\Controller\frontend\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">70</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Router\NoRouteHandlerList">
        <arguments>
            <argument name="handlerClassesList" xsi:type="array">
                <item name="extension" xsi:type="array">
                    <item name="class" xsi:type="string">Hummingbird\Mod4\Controller\frontend\NoRouteHandler</item>
                    <item name="sortOrder" xsi:type="string">90</item>
                </item>
            </argument>
        </arguments>
    </type> 

    
</config>