<?xml version="1.0"?>
<config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <event name="controller_action_postdispatch">
        <observer instance="Hummingbird\Mod4\Observers\PageLoaded" name="catalog_controller_product_view"/>
    </event>
</config>